image: python:3.12

stages:
  - test
  - seed
  - deploy

variables:
  PYTHONUNBUFFERED: 1
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PIP_NO_CACHE_DIR: "1"
  DJANGO_SETTINGS_MODULE: "kalbe_be.test_settings"
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
  GIT_DEPTH: "0"  

cache:
  paths:
    - .cache/pip

before_script:                              
  - python -V
  - pip install --upgrade pip
  - pip install --no-cache-dir -r requirements.txt
  - pip install --no-cache-dir coverage

test:
  image: python:3.12
  stage: test
  script:
    - python manage.py migrate --noinput
    - coverage run --source='.' manage.py test --keepdb
    - coverage report -m
    - coverage xml
    - coverage html
    - coverage report --fail-under=70
  coverage: '/TOTAL.*\s+(\d+%)$/'
  artifacts:
    when: always
    paths:
      - htmlcov/
    reports:
      junit: reports/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
    expire_in: 30 days
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH

seed:
  stage: seed
  image: python:3.12
  before_script:
    - pip install --no-cache-dir -r requirements.txt
  script:
    - export DATABASE_URL=${PRODUCTION_DATABASE_URL}
    - python manage.py migrate --noinput
    - python manage.py loaddata fixtures/prod_patients.json
    - python manage.py shell -c "from patients.models import Patient; print(f'✅ Loaded {Patient.objects.count()} patients')"
  rules:
    - if: '$CI_COMMIT_BRANCH == "staging"'
  when: manual


deploy:
  stage: deploy
  image: python:3.12
  before_script:
    - eval $(ssh-agent -s)
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-add ~/.ssh/id_rsa
    - ssh-keyscan -H "$EC2_HOST" >> ~/.ssh/known_hosts
  script:
    - |
      ssh "$EC2_USER@$EC2_HOST" << 'EOF'
        echo "✅ Successfully SSH inside"
        cd /home/ec2-user/backend-mirror
        git pull origin main
        python3 manage.py migrate --noinput
        python3 manage.py collectstatic --noinput --clear
        sudo systemctl restart kalbe-data
        echo "Deployment completed successfully."
      EOF
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  needs: ["test"]