global:
  scrape_interval: 15s

  rule_files:
  - "chatbot_alert.yml"

scrape_configs:
  - job_name: 'django'
    static_configs:
      - targets: ['django:8000']  
    metrics_path: '/metrics'

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']