django==5.2.6
gunicorn==23.0.0
whitenoise==6.8.2
python-decouple==3.8
dj-database-url==2.3.0
psycopg2-binary
requests
urllib3
django-cors-headers
djangorestframework
pymupdf
google-generativeai
dotenv
