django
gunicorn
whitenoise
psycopg[binary]
requests
urllib3
dj_database_url
django-filter
python-decouple
django-cors-headers
djangorestframework
pyspellchecker
pymupdf
google-generativeai
dotenv
supabase
